
<footer id="footer" class="">
    <div class="new--layout relative" style="padding-top: 96px;">
        <div class="container">

            <div class="row clearfix">
                <div class="col-2-2">
                    <a href="#" class="logo--footer">
                        <img src="~/Assets/IHE/image/logo_footer.png" />
                    </a>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-1-4">
                    <div class="address">
                        <h3>Visiting address</h3>
                        <div class="vcard">
                            <span class="fn org">IHE Delft</span>
                            <div class="adr">
                                <span class="street-address">Westvest 7</span><br>
                                <span class="postal-code">2611 AX</span>
                                <span class="locality">Delft</span><br>
                                <span class="country">The Netherlands</span>
                            </div>
                            <span class="geo">
                                <span class="latitude">
                                    <span class="value-title" title="52.008869"></span>
                                </span>
                                <span class="longitude">
                                    <span class="value-title" title="4.356562"></span>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div style=""><a href="#" class="directions">Directions</a></div>
                </div>

                <div class="col-1-4">
                    <div class="address">
                        <h3>Postal address</h3>
                        <div class="vcard">
                            <span class="fn org">IHE Delft</span>
                            <div class="adr">
                                <span class="street-address">PO Box 3015</span><br>
                                <span class="postal-code">2601 DA</span>
                                <span class="locality">Delft</span><br>
                                <span class="country">The Netherlands</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-1-4 hide-small hide-medium ">
                    <nav>
                        <ul>
                            <li><a href="#">Media</a></li>
                            <li><a href="#">Open Courseware</a></li>
                            <li><a href="#">Information for staff &amp; students</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-1-4 hide-small hide-medium ">
                    <nav>
                        <ul>
                            <li><a href="#">Codes of Conduct</a></li>
                            <li><a href="#">Privacy Statement</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-2-2">
                    <div class="tel-container">
                        <span class="tel"><a class="value" href="tel:+31152151715">Phone: +31 (0)152151715</a></span><br>
                        <span class="fax">Fax: +31 (0)152122921</span>
                    </div>
                </div>
            </div>

            <div class="row clearfix hide-widescreens">
                <div class="col-2-2">
                    <nav class="extra-menu-mobile">
                        <ul>
                            <li><a href="#">Media</a></li>
                            <li><a href="#">Open Courseware</a></li>
                            <li><a href="#">Information for staff &amp; students</a></li>
                            <li><a href="#">Codes of Conduct</a></li>
                            <li><a href="#">Privacy Statement</a></li>
                        </ul>
                    </nav>
                </div>
            </div>


        </div>
    </div>
</footer>
