<div class="sidebar-inner">
    <div class="sidebar-logo">
        <div class="peers ai-c fxw-nw">
            <div class="peer peer-greed">
                <a class="sidebar-link td-n" href="#">
                    <div class="peers ai-c fxw-nw">
                        <div class="peer">
                            <div class="logo" style="padding:7px 10px">
                                <img src="~/Assets/Admin/images/logo.png" alt="" width="50">
                            </div>
                        </div>
                        <div class="peer peer-greed">
                            <h5 class="lh-1 mB-0 logo-text" style="color:#00B9ED">WACLIM</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="peer">
                <div class="mobile-toggle sidebar-toggle">
                    <a href="" class="td-n">
                        <i class="ti-arrow-circle-left"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <ul class="sidebar-menu scrollable pos-r ps ps--active-y">
        <li class="nav-item mT-30 active">
            <a class="sidebar-link" href="#">
                <span class="icon-holder">
                    <i class="c-blue-500 ti-home"></i>
                </span>
                <span class="title">
                    Quản lý dử liệu
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="sidebar-link" href="#">
                <span class="icon-holder">
                    <i class="c-red-500 ti-palette"></i>
                </span>
                <span class="title">
                    Quản lý thành viên
                </span>
            </a>
        </li>
    </ul>
</div>
