
@{
    ViewBag.Title = "Thêm bản tin";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using WACLIM.Models
@model  VModuleSettings
@{
    var id = "";
    var name = "";
    var jsonSettings = "";
    if (Model != null)
    {
        id = Model.Id ?? "";
        name = Model.Name ?? "";
    }

    var vModuleId = Guid.NewGuid().ToString();
}
<div class="VModule" vmodule-name="bantintracuu" id="@id" vmodule-id="@vModuleId" vmodule-settings="@jsonSettings">
    <div id="mainContent">
        <div class="bgc-white bd-content">
            <div class="peer w-100" >
                <div class="layers h-100">
                    <div class="layer w-100 p-10 bdB">
                        <h5 class="c-blue-500">
                            <i class="ti-search"></i> Tìm kiếm bản tin
                        </h5>
                    </div>
                    <div class="layer w-100 ">
                        <form id="frmTimKiemBanTin" class="p-20">
                            <div class="form-group">
                                <label for="tieuDe">Tiêu đề bài viết</label>
                                <input type="text" class="form-control bdc-grey-200" id="tieuDe" name="tieuDe">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="tacGia">Tác giả</label>
                                    <input type="text" class="form-control bdc-grey-200" id="tacGia" name="tacGia">
                                </div>
                                <div class="col-md-6">
                                    <label>Ngày xuất bản</label>
                                    <div class=" input-icon form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon bgc-white bd bdwR-0">
                                                <i class="ti-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control bdc-grey-200 datepicker">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ngayXuatBan">Thể loại</label>
                                <select id="inputState" class="form-control bdc-grey-200">
                                    <option selected="selected">Bài báo khoa học</option>
                                    <option>Tin tức</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="layer w-100 bdT p-10">
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary" id="btnTimKiemBanTin">Tìm kiếm</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <script type="text/javascript" src="~/Assets/js/Admin/thembantin.js"></script>
    </div>
</div>

