
@{
    ViewBag.Title = "Quản lý bản tin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="modal" id="mdlThemBanTin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            @Html.Partial("~/Views/Admin/ThemBanTin.cshtml");
        </div>
    </div>
</div>

<div class="VModule" vmodule-name="quanlybantin" id="vmodule-quanlybantin">
    <div id="mainContent">
        <div class="full-container">
            <div class="peer bdR w-100" style="height:calc(100vh - 65px)">
                <div class="layers h-100">
                    <div class="bdB layer w-100">
                        <div class="peers fxw-nw jc-sb ai-c pY-10 pX-30 bgc-white">
                            <div class="peers custom-toolbar">
                                <a href="javascript:void(0);" class="peer td-n c-green-500 cH-blue-500 fsz-md mR-30" title="Thêm bản tin" id="btnAddBanTin" data-toggle="modal">
                                    <i class="ti-file"></i>
                                </a>
                                <a href="javascript:void(0);" class="peer td-n c-purple-500 cH-blue-500 fsz-md mR-30" title="">
                                    <i class="ti-pencil"></i>
                                </a>
                                <a href="javascript:void(0);" class="peer td-n c-red-500 cH-blue-500 fsz-md mR-30" title="">
                                    <i class="ti-trash"></i>
                                </a>
                                <div class="search-box">
                                    <a class="search-toggle no-pdd-right c-blue-500 mR-15">
                                        <i class="search-icon ti-search pdd-right-10 "></i>
                                        <i class="search-icon-close ti-close pdd-right-10"></i>
                                    </a>
                                </div>
                                <div class="search-input">
                                    <input class="form-control" type="text" placeholder="Search...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layer w-100 fxg-1 scrollable pos-r ps ps--active-y list-view-custom pY-20 pX-20" id="listBanTin">
                        <div class="card-columns">
                            @for (int i = 0; i < 15; i++)
                            {
                                <div class="card bdrs-0">
                                    <div class="card-body">
                                        <div class="mx-auto d-block">
                                            <img class="rounded-circle mx-auto d-block" src="https://randomuser.me/api/portraits/men/10.jpg" alt="Card image cap">
                                            <h5 class="text-sm-center mt-2 mb-1">Steven Lee</h5>
                                            <div class="location text-sm-center"><i class="fa fa-map-marker"></i> California, United States</div>
                                        </div>
                                        <hr>
                                        <div class="card-text text-sm-center">
                                            <a href="#"><i class="fa fa-facebook pr-1"></i></a>
                                            <a href="#"><i class="fa fa-twitter pr-1"></i></a>
                                            <a href="#"><i class="fa fa-linkedin pr-1"></i></a>
                                            <a href="#"><i class="fa fa-pinterest pr-1"></i></a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/Assets/js/Admin/quanlythanhvien.js"></script>
</div>
