.bd-content {
    border-right: 1px solid rgba(0,0,0,.0625) !important;
    border-left: 1px solid rgba(0,0,0,.0625) !important;
    border-bottom: 1px solid rgba(0,0,0,.0625) !important;
    border-top: 3px solid #03a9f4 !important;
}
