.bd-content {
    border-right: 1px solid rgba(0,0,0,.0625) !important;
    border-left: 1px solid rgba(0,0,0,.0625) !important;
    border-bottom: 1px solid rgba(0,0,0,.0625) !important;
    border-top: 3px solid #03a9f4 !important;
}


.custom-toolbar a {
    font-size: 1.3rem !important;
}

.custom-toolbar .search-box .search-icon-close {
    display: none;
}

.custom-toolbar .search-box.active .search-icon {
    display: none;
}

.custom-toolbar .search-box.active .search-icon-close {
    display: inline-block;
}

.custom-toolbar .search-input {
    display: none;
}

    .custom-toolbar .search-input.active {
        display: inline-block;
    }

    .custom-toolbar .search-input input {
        background-color: transparent;
        border: 0;
        box-shadow: none;
        font-size: 18px;
        outline: none;
        padding: 3px;
    }

.list-view-custom .active {
    background: #d3eafd !important;
}

.black-ribon {
    background: #03a9f4;
}

.corner-ribon {
    text-align: center;
    width: 71px;
    height: 71px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
}
.twt-feed.blue-bg {
    background: #58C9F3;
}


.twt-feed {
    -webkit-border-radius: 4px 4px 0 0;
    color: #FFFFFF;
    padding: 40px 10px 10px;
    position: relative;
    min-height: 170px;
}
.twt-feed .wtt-mark {
    color: rgba(255, 255, 255, 0.15);
    font-size: 160px;
    position: absolute;
    top: 10px;
    left: 40%;
}

.custom-toolbar > a > i, .custom-toolbar > button > i {
    pointer-events: none !important
}

.custom-file-input ~ .custom-file-label::after {
    display:none;
    content: "";
    height: 33px;
    border-color: #f2f3f5 !important;
    cursor: pointer !important
}

.custom-file-input ~ .custom-file-label {
    height: 35px;
    border-color: #f2f3f5 !important;
    cursor: pointer!important
}
.tooltip-inner {
    background: #f44336 !important;
    color: #fff !important
}

.tooltip .arrow:before {
    border-bottom-color: #f44336 !important;
    border-top-color: #f44336 !important;
}

input.is-invalid-custom, select.is-invalid-custom, textarea.is-invalid-custom {
    border:  1px solid #f44336  !important;
}

    input.is-invalid-custom:focus, select.is-invalid-custom:focus, textarea.is-invalid-custom:focus{
        box-shadow: 0 0 0 0.2rem rgba(244,67,54,.5) !important;
    }