@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="lowin" style="width:500px; margin: auto ; margin-top:20px">
    <div class="lowin-brand">
        <img src="~/Assets/images/logo.png" width="80">
    </div>
    <div class="lowin-wrapper">
        <div class="lowin-box lowin-login">
            <div class="lowin-box-inner">
                <form>
                    <p>Đăng nhập để tiếp tục...</p>
                    <div class="lowin-group">
                        <label>Email <a href="#" class="login-back-link">Đăng nhập?</a></label>
                        <input type="email" autocomplete="email" name="email" class="lowin-input">
                    </div>
                    <div class="lowin-group password-group">
                        <label>Password <a href="#" class="forgot-link">Quên mật khẩu?</a></label>
                        <input type="password" name="password" autocomplete="current-password" class="lowin-input">
                    </div>
                    <button class="lowin-btn login-btn">
                       Đăng nhập
                    </button>

                    <div class="text-foot">
                        Bạn chưa có tài khoản? <a href="" class="register-link">Đăng ký ngay</a>
                    </div>
                </form>
            </div>
        </div>

        <div class="lowin-box lowin-register">
            <div class="lowin-box-inner">
                <form>
                    <p>Đăng ký tài khoản</p>
                    <div class="lowin-group">
                        <label>UserName</label>
                        <input type="text" name="name" autocomplete="name" class="lowin-input">
                    </div>
                    <div class="lowin-group">
                        <label>Email</label>
                        <input type="email" autocomplete="email" name="email" class="lowin-input">
                    </div>
                    <div class="lowin-group">
                        <label>Password</label>
                        <input type="password" name="password" autocomplete="current-password" class="lowin-input">
                    </div>
                    <button class="lowin-btn">
                        Đăng ký
                    </button>
                    <div class="text-foot">
                        Bạn đã có tài khoản ? <a href="" class="login-link">Đăng nhập</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="lowin-footer">
    </footer>
</div>


