@{
    ViewBag.Title = "Home Page";
}

<main id="main" class="site-main col-md-8 col-sm-12" role="main">

    <div id="posts-container" class="row" style="position: relative;">
        <article id="post-23" class="big-post col-md-12 post-23 post type-post status-publish format-standard has-post-thumbnail hentry category-adventures category-citybreakes category-landscapes category-lifestyle category-travel tag-decor tag-design tag-dive tag-furniture tag-health tag-learn tag-lifestyle tag-materials tag-natural tag-run tag-supplies" style="position: absolute; left: 0%; top: 0px;">
            <header class="entry-header">
                <div class="entry-meta">
                    <span class="byline">by <span class="author vcard"><a class="url fn n" href="https://colorlib.com/blaskan/author/demoblaskan/">Jane Smith</a></span></span><span class="posted-on"><span class="posted-on-delimeter">  -  </span><a href="https://colorlib.com/blaskan/2017/04/20/explore-new-places-every-single-day/" rel="bookmark"><time class="entry-date published" datetime="2017-04-20T08:47:44+00:00">April 20, 2017</time><time class="updated" datetime="2017-05-08T11:29:39+00:00">May 8, 2017</time></a></span>
                </div><!-- .entry-meta -->

                <h2 class="entry-title"><a href="https://colorlib.com/blaskan/2017/04/20/explore-new-places-every-single-day/" rel="bookmark">Explore new places every single day</a></h2>
                <div class="entry-thumbnail"><a href="https://colorlib.com/blaskan/2017/04/20/explore-new-places-every-single-day/" rel="bookmark"><img width="1140" height="570" src="https://colorlib.com/blaskan/wp-content/uploads/sites/16/2017/04/01_Article1-1140x570.jpg" class="attachment-big-blog-post size-big-blog-post wp-post-image" alt=""></a></div>
            </header><!-- .entry-header -->

            <div class="entry-content">
                <p>Integer at pharetra metus, non porttitor lorem. Pellentesque consectetur lacus at erat maximus fringilla. Mauris suscipit commodo lacus id rutrum. Suspendisse potenti. Vestibulum cursus lobortis suscipit. Pellentesque vel eleifend urna. Praesent id pellentesque metus. Aenean accumsan ipsum ac consectetur convallis. Sed efficitur blandit turpis ut rhoncus. Integer vehicula risus eget purus porttitor gravida. Ut dapibus aliquet quam, non tempus elit varius non. Aliquam rutrum molestie ipsum eu feugiat.</p>
                <p>In hac habitasse platea dictumst. Nullam vulputate fringilla nisl, non finibus lorem vulputate non. Donec non finibus ex. Curabitur quis elit sit amet nunc finibus volutpat vitae vitae enim. Vestibulum eget eros nec eros maximus cursus. Vestibulum et felis hendrerit, pellentesque mi quis, semper neque. Aliquam et elit metus.</p>
                <p>Nullam scelerisque ipsum vitae turpis luctus placerat. Ut eu odio urna. Sed blandit arcu vitae arcu finibus euismod sed vitae nisi. Nunc rutrum arcu justo, et condimentum felis efficitur ac. Praesent id erat ac felis dignissim commodo. Proin vehicula libero eu suscipit sodales. Vestibulum imperdiet nibh ut ligula semper posuere. Duis felis mauris, luctus eget dui eget, suscipit tempus magna. Duis quis purus sit amet diam condimentum iaculis. Proin varius sapien non erat elementum tincidunt. Phasellus aliquam sodales tellus, sit amet aliquet nisi elementum non. Nam in vulputate sem, in facilisis erat. Fusce auctor risus vel euismod rhoncus.</p>
            </div><!-- .entry-content -->
        </article><!-- #post-## -->
    </div>
</main>