
@{
	ViewBag.Title = "Admin";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
	<div id="froala-editor">
		<p>Click the Code View button to see the editor content's HTML.</p>
		<img src="https://froala.com/assets/editor/docs/photo14.jpg" class="fr-fil" alt="book" width="150" />
	</div>
	<script src="~/Assets/js/Admin/index.js"></script>
</div>

