
@{
    ViewBag.Title = "BanTinChiTiet";
    Layout = "~/Views/Shared/_Layoutpage.cshtml";
}

<article id="page-content">
    <!-- start header -->
    
    <header class="image">
        <div class="top">
            <a class="back" href="@Url.Action("index", "home")">Back to Home</a>
        </div>
        <span class="specs">Delft, The Netherlands, 05 Sep 2018</span>
        <h1>Alumna Tatiana dos Santos Silva wins the IHE Delft Alumni Award 2018</h1>
    </header>
    <!-- end header -->
    <div class="tabs"></div><!-- start section fullwidth -->
    <section class="full-width"></section>
    <!-- end section fullwidth -->
    <!-- start section -->
    <section>
        <div class="event-header">

            <a class="fancybox left" href="https://www.un-ihe.org/sites/default/files/diploma_0.jpg" data-title="" data-copyright="">
                <img class="header" src="https://www.un-ihe.org/sites/default/files/styles/unesco_news_detail_header/public/diploma.jpg?itok=M79enq-O">
                <span class="overlay"></span>
                <span class="icon"></span>
            </a>
            <p class="intro">
                The Rectorate is pleased to announce that Ms. Tatiana dos Santos Silva from Brazil is the winner of the IHE Delft Alumni Award 2018. The award is annually given to an alumna/alumnus who has proven to be a role model for other water professionals, by demonstrating the impact of her/his work in a water related field, to improve people's quality of life. In 2018 for the first time the younger generation of alumni - those who have graduated in the last 10 years – has also been invited to participate.
            </p>

        </div>
        <!-- div om eerste alinea en plaatje met class "event-header" -->
        <h2>FA.VELA</h2>

        <a class="fancybox right" href="https://www.un-ihe.org/sites/default/files/styles/large/public/dsc_7429_copy.jpg?itok=B7h2VU7w" data-copyright="" data-title="">
            <img src="https://www.un-ihe.org/sites/default/files/styles/unesco_news_overview/public/dsc_7429_copy.jpg?itok=TlimKvHl" style="max-width: 144px; max-height: 144px;">
            <span class="overlay"></span>
            <span class="icon"></span>
        </a>
        <p>Tatiana is Co-Founder and currently Projects Director at FA.VELA, a non-profit organization in Brazil and she is Youth Delegate at the World Water Council for the period 2016 – 2018.</p>
        <p>She studied the Water Management programme, specializing in Water Conflict Management at UNESCO-IHE, today IHE Delft, and obtained her MSc diploma in 2014.</p>
        <p>Tatiana is 32 years old, and the youngest awarded alumna. Only four years after completing her MSc, she managed to co-design and run a successful not for profit organization, building resilience in vulnerable areas in Brazil. She is the Director of Projects at FA.VELA and had a central role in raising and managing over one million Brazilian Reais in 3,5 years. The non-profit offers entrepreneurial education and business acceleration for residents of favelas and ghettos, to build sustainable enterprises. She has led projects such as ´FA.VELA RESILIENTE´ (resilient slum) and ´Living with our Water´, which empowers vulnerable youth to devise innovative solutions to address water challenges related to SDG 6:- Clean Water and Sanitation for all.</p>
        <h2>Youth Delegate</h2>

        <a class="fancybox left" href="https://www.un-ihe.org/sites/default/files/styles/large/public/closingceremony_4_0.jpeg?itok=cf5GtzKH" data-copyright="" data-title="">
            <img src="https://www.un-ihe.org/sites/default/files/styles/unesco_news_overview/public/closingceremony_4_0.jpeg?itok=Sg3ZgKnb" style="max-width: 144px; max-height: 144px;">
            <span class="overlay"></span>
            <span class="icon"></span>
        </a>
        <p>Her commitment, as a volunteer, to the role of Youth Delegate representing the Americas at the World Water Council, is also a big accomplishment. In that role she led the Youth Satellite Events for the 8th World Water Forum, a global strategy facilitated and co-designed in partnership with global and regional youth groups and organisations. It resulted in over 20 events all over the world, connecting more than 1000 young people in 12 countries in hydro politics – including one event held at IHE Delft in 2017. The strategy generated outputs that not only contributed to the Youth Statement for the 8th World Water Forum, but also encouraged young people to take local action in water management. She is now engaged in the follow-up activities that will result in an e-book, sharing the experiences and showing how youth worldwide is helping to achieve the SDG 6.</p>
        <p>‘By winning the Alumni Award, I hope to strengthen my links to IHE Delft even more, raise awareness about water entrepreneurship and encourage young professionals to take the lead in local, regional and global transformation’ wrote Tatiana in her nomination and we hope she can now fulfil this aspiration.</p>
        <p>Ms. Tatiana dos Santos Silva will receive her award on 18 October 2018 during the <a href="https://www.un-ihe.org/opening-academic-year-2018-2020-alumni-award-ceremony" target="_blank" class="external">Opening of the Academic year and Alumni Award ceremony</a> at IHE Delft.<br><span style="font-size: 15.008px;">You are welcome to follow the event online as it will be live streamed.</span></p>
        <p>Read the interview we had with Tatiana in our <a href="http://updatemagazine.un-ihe.org/#alumni-in-action" target="_blank" class="external">Update magazine</a>.</p>

    </section><!-- start aside -->
    <aside class="network">
        <section class="contact-container vcard ">
            <header>
                <span class="icon" aria-hidden="true" data-icon="✉"></span>
                <h1>
                    <span class="type">Contact</span><br><span class="nodeblocked">Maria Laura</span><br><span> Sorrentino</span>
                </h1>
            </header>
            <div class="person has-image">
                <img src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile-network/public/mso_sorrentino_web2_1.jpg?itok=z8-Jy4r0" height="88" width="88">        <div>
                    <h2><a href="/maria-laura-sorrentino">Maria Laura  Sorrentino</a></h2>          <span>
                        <p>Alumni Officer</p>
                    </span>
                </div>
            </div>

            <div class="contact">
                <div class="contact-elements">
                    <span class="icon" aria-hidden="true" data-icon="📞"></span>
                    <span class="visually-hidden">Phone</span>
                    <span class="tel"><a href="tel:+31152151887">+31152151887</a></span>
                </div><br>
                <div class="contact-elements">
                    <span class="icon" aria-hidden="true" data-icon="✉"></span>
                    <span class="visually-hidden">Email</span>
                    <span class="email">
                        <span id="8efaa3af91489158eeb2ea14e0ea8905698c1aaf"><a href="mailto:m.sorrentino@un-ihe.org">m.sorrentino@un-ihe.org</a></span>
                        <script type="text/javascript">
 <!--
                            document.getElementById('8efaa3af91489158eeb2ea14e0ea8905698c1aaf').innerHTML = '<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#109;&#46;&#115;&#111;&#114;&#114;&#101;&#110;&#116;&#105;&#110;&#111;&#64;&#117;&#110;&#45;&#105;&#104;&#101;&#46;&#111;&#114;&#103;">&#109;&#46;&#115;&#111;&#114;&#114;&#101;&#110;&#116;&#105;&#110;&#111;&#64;&#117;&#110;&#45;&#105;&#104;&#101;&#46;&#111;&#114;&#103;</a>';
// --> </script>
                    </span>
                </div><br>


            </div>
        </section>
    </aside>
    <!-- end aside -->
    <!-- start section fullwidth -->
    <!-- end section fullwidth -->
</article>

