
@{
    ViewBag.Title = "ChiTietThanhVien";
}

<article id="page-content" class="profile" style="padding-top: 196.547px;">
    <!-- start header -->
    <header>
        <div class="top"><a class="back" href="@Url.Action("thanhvien","home")">Back to Staff</a></div>
        <img src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile/public/efa_fantini_web1.jpg?itok=OtkSUFlc">            <div class="teaser-staff-image-copyrights">
        </div>
        <h1>Emanuele Fantini PhD, MA</h1>
        <h2>Lecturer              </h2>

    </header>
    <!-- end header -->



    <div class="tabs"></div><!-- start section fullwidth -->
    <section class="full-width"></section>
    <!-- end section fullwidth -->
    <!-- start section -->
    <section>
        <h2 class="bio">Biography</h2>
        <p>Emanuele joined IHE Delft in September 2015 as a Marie Curie Cofund Postdoc Fellow.</p>
        <p>He holds a&nbsp;a PhD in Political Sciences (University of Turin) and an European Master in Human Rights and Democratization (University of Padua and the University of Maastricht).</p>
        <p>At IHE Delft Emanuele is member of the <a href="https://www.un-ihe.org/node/2501" class="external">Water Governance chair group</a> in the <a href="https://www.un-ihe.org/node/2641" class="external">Department of Integrated Water Systems and Governance</a>.</p>
        <p>His main research project "Visualising waters, unveiling powers in Ethiopia" analyses the consequences of current processes of state formation, development and economic growth in terms of contested water governance and water justice. By adopting visual research methods in different Ethiopian waterscapes (irrigation schemes, urban water management systems) the project explores the interaction between knowledge/technology and nature in shaping power relations and everyday practices of water management. As a complementary work to this research, Emanuele also contributes to the "Accounting for Nile Waters" project, aiming at integrating water accounting aerial images with ethnographic maps to analyse gendered reallocations of water and labor within large scale irrigation investments in the Nile basin.</p>
        <p>Emanuele's research interests cover: the process of state formation in Ethiopia, with focus on the role played by development cooperation policies and by religious movements - particulary Pentecostals - in public spaces; social movements against the privatisation of water services; the cultural, ethical, symbolic and aesthethic siginficance of water management, and the human right to water.</p>
        <p>As associate researcher at the Programme in Comparative Media Law and Policy of the University of Oxford, Emanuele is also interested in the role of ICT and media in the processes of development and state formation in Sub-Saharan Africa.</p>
        <p>Beside academic work, Emanuele has more than 10 years experience in international development cooperation, working both long term and consultancy positions for bilateral agencies (Italian Ministry of Foreign Affairs), multilateral institutions (UN Habitat), local authorities and international NGOs. He has country experience in Africa (Ethiopia, South-Sudan, Kenya-Somalia and Morocco), Serbia and Myanmar.</p>



        <h2 class="publication">Publications</h2>
        <p><strong>Selected publications</strong></p>
        <p>Zwarteveen, Kemerink-Seyoum, Kooy, Evers, Acevedo-Guerrero, Batubara, Faber, Flamini,&nbsp;Boakye-Ansah, Faber, Flamini, Cuadrado-Quesada, Fantini, Gupta, Hasan, ter Horst, Jamali, Jaspers, Obani, Schwartz, Shubber, Smit, Torio, Tutusaus (2017), <a class="external" href="http://onlinelibrary.wiley.com/doi/10.1002/wat2.1245/abstract?campaign=wolearlyview" target="_blank">The politics of water governance: distributions of water, authority, and knowledge</a>. <em>Wiley Interdisciplinary Reviews on Water</em>.</p>
        <p>Fantini (2017), <a href="http://wires.wiley.com/WileyCDA/WiresArticle/wisId-WAT21226.html" target="_blank" class="external">Picturing Water. A review of Photovoice and similar participatory visual research on water governance</a>, <em>Wiley Interdisciplinary Reviews on Water</em>, vol 4, issue 5.</p>
        <p><a href="http://www.water-alternatives.org/index.php/alldoc/articles/vol9/v9issue1/306-a9-1-5/file" target="_blank" class="external">Carrozza and Fantini (2016), "The Italian Water Movement and the Politics of the Commons"</a> (with C. Carrozza) in <em>Water Alternatives</em> 9(1):&nbsp;99-119.</p>
        <p><a href="https://www.zedbooks.net/shop/book/aid-and-authoritarianism-in-africa/" target="_blank" class="external">Fantini and Puddu (2016) "Ethiopia and International Aid: between high modernism and exceptional measures"</a>, in T. Hagmann and F. Rentyers (eds.), Aid and Authoritarianism in Africa. Development without democracy, Zed Books.</p>
        <p><a href="https://www.academia.edu/30150337/Sant%C3%A9_publique_participation_communautaire_et_mobilisation_politique_en_%C3%89thiopie_la_Women_s_Development_Army" target="_blank" class="external">Villanucci and Fantini (2016) "Sante publique, participation communautaire et mobilisation politique en Ethiopie: la Women’s Development Army</a>". in <em>Politique africaine</em>, (2), 77-99, (2016) DOI: 10.3917/polaf.142.0077</p>
        <p><a href="https://www.academia.edu/30150707/Crafting_Ethiopia_s_Glorious_Destiny._Pentecostalism_and_Economic_Transformation_under_a_Developmental_State" target="_blank" class="external">Fantini (2016) "Crafting Ethiopia’s Glorious Destiny. Pentecostalism and Economic Transformation under a Developmental State"</a>, in <em>Archives de Sciences Sociales des Religions</em>, 175 (juillet-septembre 2016), p. 67-86.</p>
        <p><a href="http://echogeo.revues.org/14141" target="_blank" class="external">Chinigo and Fantini (2015), "Thermidor in Ethiopia? Agrarian Transformations between Economic Liberalization and the Developmental State"</a>, in <em>EchoGeo</em>, n. 31.</p>
        <p><a href="https://www.academia.edu/12460949/The_Italian_Mobilisation_for_Water_as_a_Commons_Moral_Economy_and_Virtual_Water" target="_blank" class="external">Fantini (2015), "The Italian Mobilisation for Water as a Commons: Moral Economy and Virtual Water"</a>, In F. Greco and M. Antonelli (eds.), <em>The Water We Eat,&nbsp;</em> (pp. 123-135). Springer International Publishing.</p>
        <p><a href="https://www.academia.edu/15026293/The_Political_Economy_of_the_Media_in_the_Somali_Conflict" target="_blank" class="external">"The political economy of the media in the somali conflict"</a> (with N. Streamlau and R. Osman), in <em>Review of African Political Economy</em>, (published online 18 august 2015)</p>
        <p><a href="https://www.academia.edu/15026501/Patronage_Politics_and_Performance_Radio_Call-in_Programmes_and_the_Myth_of_Accountability" target="_blank" class="external">"Patronage, politics and performance: fadio call-in programmes and the myth of accountability"</a> (with I. Gagliardone and N. Streamlau), in <em>Third World Quarterly</em> (published online 18 august 2015)</p>
        <p><a href="http://siba-ese.unile.it/index.php/paco/article/view/13752/12129" target="_blank" class="external">"Catholics in the making of the Italian Water Movement. A moral economy</a>", in <em>Partecipazione e Conflitto</em> [PACO], Volume 7, Issue 1 (2014).</p>
        <p><a href="https://www.academia.edu/4558549/Si_scrive_acqua..._Attori_pratiche_e_discorsi_nel_movimento_italiano_per_lacqua_bene_comune" target="_blank" class="external">"Si scrive acqua. Attori, pratiche e discorsi nel movimento italiano per l'acqua bene comune"</a> (with C. Carrozza), aAcademia University Press, Torino, (2013).</p>
        <p><a href="https://www.academia.edu/3729848/La_politique_de_leau_en_Italie._Mouvements_savoirs_territoires" target="_blank" class="external">La politique de l'eau en Italie. Mouvements, savoirs, territoires</a> (with C. Carrozza), in <em>Journal des Antropologues</em>, n. 132-133, pp. 461-467, (2013)</p>
        <p><a class="text-gray-darker external" href="https://www.academia.edu/5720641/Transgression_and_acquiescence_the_moral_conflict_of_Pentecostals_in_their_relationship_with_the_Ethiopian_State" target="_blank">"Transgression and acquiescence: the moral conflict of Pentecostals in their relationship with the Ethiopian State", </a>in <em>PentecoStudies</em>, vol. 12, n.2, pp. 205-230 (2013).</p>
        <p>&nbsp;</p>







    </section><!-- start aside -->
    <aside class="network">
        <section class="contact-container vcard contact-block">
            <header>
                <span class="icon" aria-hidden="true" data-icon="✉"></span>
                <h1>
                    <span class="type">Contact</span><br><span>Emanuele Fantini</span>
                </h1>
            </header>
            <div class="person has-image">
                <img src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile-network/public/efa_fantini_web2.jpg?itok=sPe3Q-VM" height="88" width="88">        <div>
                    <h2><a href="/emanuele-fantini">Emanuele Fantini</a></h2>          <span>Lecturer        </span>
                </div>
            </div>

            <div class="contact">
                <div class="contact-elements">
                    <span class="icon" aria-hidden="true" data-icon="📞"></span>
                    <span class="visually-hidden">Phone</span>
                    <span class="tel"><a href="tel:+31152151779">+31152151779</a></span>
                </div><br>
                <div class="contact-elements">
                    <span class="icon" aria-hidden="true" data-icon="✉"></span>
                    <span class="visually-hidden">Email</span>
                    <span class="email">
                        <span id="7705696248357499911e9b80d0590411b994d24f"><a href="mailto:e.fantini@un-ihe.org">e.fantini@un-ihe.org</a></span>
                        <script type="text/javascript">
 <!--
                            document.getElementById('7705696248357499911e9b80d0590411b994d24f').innerHTML = '<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#101;&#46;&#102;&#97;&#110;&#116;&#105;&#110;&#105;&#64;&#117;&#110;&#45;&#105;&#104;&#101;&#46;&#111;&#114;&#103;">&#101;&#46;&#102;&#97;&#110;&#116;&#105;&#110;&#105;&#64;&#117;&#110;&#45;&#105;&#104;&#101;&#46;&#111;&#114;&#103;</a>';
// --> </script>
                    </span>
                </div><br>
                <div class="contact-elements">
                    <span class="visually-hidden">Linkedin</span>
                    <span class="linkedin">
                        <a href="https://nl.linkedin.com/in/emanuele-fantini-08101976" rel="me" target="_blank">View my profile on Linkedin</a>
                    </span>
                </div><br>


            </div>
        </section>
    </aside>
    <!-- end aside -->
    <!-- start section fullwidth -->
    <!-- end section fullwidth -->
</article>

