
@{
    ViewBag.Title = "DaoTao";
}
<article id="page-content" style="padding-top: 212.547px;">
  <!-- start header -->
<header><h1>Education</h1><div class="leader-block-container"><div class="leader-block full-width" style="min-height: 72px;"><p>Graduate education at IHE Delft is science based and highly relevant for those interested in water and development.</p></div><div class="fact-list-container" style="min-height: 72px;"></div></div></header><!-- end header -->

<div class="tabs"></div><!-- start section fullwidth -->
  <section class="full-width">
      </section>
<!-- end section fullwidth -->

<!-- start section -->
      <section class="full-width">
  <h2>MSc Programmes</h2>
  <p>
      IHE Delft offers four 18-month Master of Science programmes. Furthermore, the Institute recently launched a fifth, one-year Master of Science programme, which focuses on non-sewered sanitation.
  </p>
  <a class="singular" href="/msc-programmes"><span>Read more about our MSc programmes</span></a>
  <div class="theme-container">
    
        <div class="theme">
          <img src="https://www.un-ihe.org/sites/default/files/styles/unesco_research_overview_image/public/unesco-ihe_6180194_0.jpg?itok=YiUa8L61">
          <div class="overlay" style="height: 84px;">
            <div class="content-wrapper">
              <h4>
                <a href="/water-management">Water Management and Governance</a>
              </h4>
              <p><a href="/water-management">The scientific study of water resources with practical planning and management skills.
</a></p>
            </div>
          </div>
          <a class="blocklink" href="/water-management"></a>
        </div>
        
        <div class="theme">
          <img src="https://www.un-ihe.org/sites/default/files/styles/unesco_research_overview_image/public/unesco-ihe_6180339square_0.jpg?itok=3nVLYfvA">
          <div class="overlay" style="height: 84px;">
            <div class="content-wrapper">
              <h4>
                <a href="/urban-water-and-sanitation">Urban Water and Sanitation</a>
              </h4>
              <p><a href="/urban-water-and-sanitation">Water supply, sanitation and water engineering and management, particularly in urban areas.
</a></p>
            </div>
          </div>
          <a class="blocklink" href="/urban-water-and-sanitation"></a>
        </div>
        
        <div class="theme">
          <img src="https://www.un-ihe.org/sites/default/files/styles/unesco_research_overview_image/public/unesco-ihe_0139.jpg?itok=ShUplFq2">
          <div class="overlay" style="height: 84px;">
            <div class="content-wrapper">
              <h4>
                <a href="/environmental-science">Environmental Science</a>
              </h4>
              <p><a href="/environmental-science">Conservation and prudent use of natural resources for the benefit of society. 
</a></p>
            </div>
          </div>
          <a class="blocklink" href="/environmental-science"></a>
        </div>
        
        <div class="theme">
          <img src="https://www.un-ihe.org/sites/default/files/styles/unesco_research_overview_image/public/h001_c171_0210fc.0000017.jpg?itok=emOZZT9f">
          <div class="overlay" style="height: 84px;">
            <div class="content-wrapper">
              <h4>
                <a href="/water-science-engineering">Water Science and Engineering</a>
              </h4>
              <p><a href="/water-science-engineering">Hydrological and hydraulic processes and modelling tools for improved water management in coastal zones, river basins and agricultural areas. 
</a></p>
            </div>
          </div>
          <a class="blocklink" href="/water-science-engineering"></a>
        </div>
        
        <div class="theme">
          <img src="https://www.un-ihe.org/sites/default/files/styles/unesco_research_overview_image/public/dsc_4557s.jpg?itok=HuI3hhUI">
          <div class="overlay" style="height: 84px;">
            <div class="content-wrapper">
              <h4>
                <a href="/one-year-master-science-programme-sanitation">One year Master of Science Programme in Sanitation</a>
              </h4>
              <p><a href="/one-year-master-science-programme-sanitation">One-year programme focusing on non-sewered sanitation, delivering graduates with the qualifications required by the sanitation sector.
</a></p>
            </div>
          </div>
          <a class="blocklink" href="/one-year-master-science-programme-sanitation"></a>
        </div>
          </div>
</section>

<section class="full-width">
  <h2>Courses and PhD Programme</h2>
  <div class="theme-container">

      <div class="theme">
          <img src="https://www.un-ihe.org/sites/default/files/styles/unesco_research_overview_image/public/01_tang_jingyue_-_china_-_imete_02.jpg?itok=7YBUaJnO">
          <div class="overlay" style="height: 84px;">
              <div class="content-wrapper">
                  <h4>
                      <a href="/short-courses">Short Courses</a>
                  </h4>
                  <p>
                      <a href="/short-courses">
                          IHE Delft conducts a wide range of short, intensive and highly specialized courses which are aimed at upgrading and refreshing the knowledge and skills of mid-career professional and senior experts.
                      </a>
                  </p>
              </div>
          </div>
          <a class="blocklink" href="short-courses"></a>
      </div>

      <div class="theme">
          <img src="https://www.un-ihe.org/sites/default/files/styles/unesco_research_overview_image/public/018_mpafane_deyi_-_south_africa_-_wse.jpg?itok=yc52cLH9">
          <div class="overlay" style="height: 84px;">
              <div class="content-wrapper">
                  <h4>
                      <a href="/online-courses">Online Courses</a>
                  </h4>
                  <p>
                      <a href="/online-courses">
                          IHE Delft offers high-quality online courses in an increasing number of topics of interest in the water sector. The innovative delivery format makes learning exciting, flexible, interactive and effective.
                      </a>
                  </p>
              </div>
          </div>
          <a class="blocklink" href="online-courses"></a>
      </div>

      <div class="theme">
          <img src="https://www.un-ihe.org/sites/default/files/styles/unesco_research_overview_image/public/dsc_4926.jpg?itok=K8OFyIOV">
          <div class="overlay" style="height: 84px;">
              <div class="content-wrapper">
                  <h4>
                      <a href="/phd-programme">PhD Programme</a>
                  </h4>
                  <p>
                      <a href="/phd-programme">
                          Work together with other researchers, including around 135 PhD fellows and 200 MSc students from different countries all dealing with topics related to water and development.&nbsp;
                      </a>
                  </p>
              </div>
          </div>
          <a class="blocklink" href="phd-programme"></a>
      </div>
  </div>
</section>

<section>
  <h2>Academic Departments</h2>
    <ul class="items">
    
        <li class="item">
          <a class="blocklink" href="academic-departments/environmental-engineering-water-technology"></a>
          <div class="summary">
            <h3>Environmental Engineering &amp; Water Technology</h3>
            <p>The Environmental Engineering and Water Technology (EEWT) Department contributes to the provision of safe drinking water, adequate sanitation and resource recovery, focusing on developing countries and countries in transition.
</p>
            <a href="/academic-departments/environmental-engineering-water-technology" class="singular"><span>read more</span></a>
          </div>
        </li>
        
        <li class="item">
          <a class="blocklink" href="academic-departments/integrated-water-systems-governance"></a>
          <div class="summary">
            <h3>Integrated Water Systems &amp; Governance</h3>
            <p>The IWSG department consists of four chair groups that cover a broad range of disciplinary knowledge – sociology,&nbsp; law, economics, public administration, political science, information technology, mathematics, hydrological and hydraulic modelling sciences, engineering, knowledge management and innovation studies.
</p>
            <a href="/academic-departments/integrated-water-systems-governance" class="singular"><span>read more</span></a>
          </div>
        </li>
        
        <li class="item">
          <a class="blocklink" href="academic-departments/water-science-engineering"></a>
          <div class="summary">
            <h3>Water Science &amp; Engineering</h3>
            <p>The WSE Department deals with the fundamentals of understanding and modelling the primary processes related to water and the environment.
</p>
            <a href="/academic-departments/water-science-engineering" class="singular"><span>read more</span></a>
          </div>
        </li>
          </ul>
  </section>

<aside class="notice">
   <section class="image wide">
    <h3><span>Education &amp; Training </span><br><span> Guide 2019</span></h3>    <img src="https://www.un-ihe.org/sites/default/files/styles/unesco_wide_image_block_image/public/2018-08-09_10_08_15-ihe_delft_etg2019_i.pdf_-_adobe_acrobat_pro_dc.png?itok=x7JB1FDV">    <p><a href="/sites/default/files/ihe_delft_etg2019_i.pdf" target="_blank">Download the guide</a>&nbsp;(view online)</p>
<p>&nbsp;</p>
</section>
</aside>
<!-- end aside -->
<!-- start section -->
<section class="full-width follow-up">
  <div class="people-container">
    <h2 class="people">Student experiences</h2>
  </div>
  <div class="testimonials-container-wide">
    
<div class="testimonial-container" style="min-height: 278px;">
  <blockquote>If one wants to see the world in union then IHE Delft is the place to be!</blockquote>
  <div class="image-info-container">
    <div class="image">
                  <img src="https://www.un-ihe.org/sites/default/files/styles/unesco_testimonial_quote/public/daniel_fitshane1_0.jpg?itok=7vsigYap" width="64" height="64" alt="">        </div>
    <div class="info">
      <a href="/daniel-fitshane-testimonial">Daniel Fitshane</a>,<br>
      Zimbabwe    </div>
  </div>
</div>

<div class="testimonial-container" style="min-height: 278px;">
  <blockquote>I believe that the WQM programme will provide me with the additional set of skills and knowledge to become an actual water leader.</blockquote>
  <div class="image-info-container">
    <div class="image">
                  <img src="https://www.un-ihe.org/sites/default/files/styles/unesco_testimonial_quote/public/maria_luisa_salingay1.jpg?itok=vifxluiL" width="64" height="64" alt="">        </div>
    <div class="info">
      <a href="/maria-luisa-salingay-testimonial">Maria Luisa Salingay</a>,<br>
      The Philippines    </div>
  </div>
</div>

<div class="testimonial-container" style="min-height: 278px;">
  <blockquote>UWEM gives a holistic approach to urban water systems in this ever evolving water cycle. </blockquote>
  <div class="image-info-container">
    <div class="image">
                  <img src="https://www.un-ihe.org/sites/default/files/styles/unesco_testimonial_quote/public/happymore_mbiza.jpg?itok=H2KYIygo" width="64" height="64" alt="">        </div>
    <div class="info">
      <a href="/happymore-mbiza-testimonial">Happymore Mbiza</a>,<br>
      Zimbabwe    </div>
  </div>
</div>
  </div>
</section>
<!-- end section -->
  <!-- start aside -->
<!-- end aside -->

<!-- start section fullwidth -->
<!-- end section fullwidth -->
</article>
