
@{
    ViewBag.Title = "GioiThieu";
}

<article id="page-content" style="padding-top:75px">
    <header>
        <div class="content-header-background clearfix paragraph--wrapper">
            <div class="paragraph-item color--switch--possible">
                <header>

                    <h1>About IHE Delft</h1>

                    <div class="leader-block-container">
                        <div class="leader-block">
                            <p>IHE Delft Institute for Water Education is the largest international graduate water education facility in the world and is based in Delft, the Netherlands. The Institute confers fully accredited MSc degrees, and PhD degrees in collaboration with partner universities.</p>
                        </div>
                        <div class="fact-list-container"></div>
                    </div>
                </header>
            </div>
        </div>
    </header>

    <div class="paragraph--wrapper">
        <div class="paragraph-item">
            <h2 style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal;">The Institute</h2>
            <p style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; font-family: Arial, sans-serif; font-size: 15.008px;">Since 1957 the Institute has provided graduate education to more than 15,000 water professionals from over 162 countries, the vast majority from the developing world. Numerous research and capacity development projects are carried out throughout the world. The Institute offers a unique combination of applied, scientific and participatory research in water engineering combined with natural sciences, social sciences and management and governance. Since its establishment the Institute has played an instrumental role in developing the capacities of water sector organizations in the Global South, not least by strengthening the efforts of other universities and research centres to increase the knowledge and skills of professionals working in the water sector.</p>
            <p style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; font-family: Arial, sans-serif; font-size: 15.008px;">IHE Delft carries out educational, research and institutional strengthening activities that complement and reinforce each other in the broad fields of water engineering, water management, environment, sanitation, and governance.</p>
            <h3 style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-family: Arial, sans-serif;">SENSE Research School</h3>
            <p style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; font-family: Arial, sans-serif; font-size: 15.008px;"><img alt="" src="/sites/default/files/sense_logo_3.png" style="margin: 5px; font-size: 15.008px; float: left; height: 61px; width: 92px;" />The research quality at IHE Delft has been assessed in 2014 by the Evaluation Committee of the SENSE Research School for the period 2007 to 2013. The Evaluation Committee considered the research accomplishments of IHE Delft, especially as they relate to developing countries, as highly effective.</p>
            <p style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; font-family: Arial, sans-serif; font-size: 15.008px;"><a href="/node/75442" style="font-size: 15.008px;">Click here to read more and to download the assessment report</a>.</p>
        </div>
    </div>

    <div class="paragraph--wrapper">
        <div class="paragraph-item">
            <h2 style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal;">The Institute</h2>
            <p style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; font-family: Arial, sans-serif; font-size: 15.008px;">Since 1957 the Institute has provided graduate education to more than 15,000 water professionals from over 162 countries, the vast majority from the developing world. Numerous research and capacity development projects are carried out throughout the world. The Institute offers a unique combination of applied, scientific and participatory research in water engineering combined with natural sciences, social sciences and management and governance. Since its establishment the Institute has played an instrumental role in developing the capacities of water sector organizations in the Global South, not least by strengthening the efforts of other universities and research centres to increase the knowledge and skills of professionals working in the water sector.</p>
            <p style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; font-family: Arial, sans-serif; font-size: 15.008px;">IHE Delft carries out educational, research and institutional strengthening activities that complement and reinforce each other in the broad fields of water engineering, water management, environment, sanitation, and governance.</p>
            <h3 style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-family: Arial, sans-serif;">SENSE Research School</h3>
            <p style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; font-family: Arial, sans-serif; font-size: 15.008px;"><img alt="" src="/sites/default/files/sense_logo_3.png" style="margin: 5px; font-size: 15.008px; float: left; height: 61px; width: 92px;" />The research quality at IHE Delft has been assessed in 2014 by the Evaluation Committee of the SENSE Research School for the period 2007 to 2013. The Evaluation Committee considered the research accomplishments of IHE Delft, especially as they relate to developing countries, as highly effective.</p>
            <p style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; font-family: Arial, sans-serif; font-size: 15.008px;"><a href="/node/75442" style="font-size: 15.008px;">Click here to read more and to download the assessment report</a>.</p>
        </div>
    </div>
</article>