
<div class="section-one section" data-parallax="">
    <div class="hero-wrapper relative" style="height: 672px;">

        <div class="container">
            <div class="row clearfix">
                <section class="cta">
                    <h1 class="h1 light" style="opacity: 1;">@WACLIM.Resources.Language.Logan</h1>
                    <!-- todo switch here <h1 class="h1 dark">UPDATE magazine, our latest issue is out now!</h1>-->
                    <a href="#" class="btn white" style="opacity: 1; transition: none 0s ease 0s;">@WACLIM.Resources.Language.Subscribe</a>
                </section>
            </div>
        </div>

        <div class="background-image">
            <div class="full-image with__bg__image" style="background-image: url('Assets/IHE/image/bg.jpg');"></div>
        </div>
    </div>
</div>

<div class="section-two relative section clearfix" style="margin-top: 456.96px;">

    <div class="perspective-container show-desktop">
        <a href="#" class="arrow-down wobble-vertical">Scroll down</a>
    </div>

    <div class="white--container white--container--side-margin">
        <a class="start-content" href=""></a>
        <div class="container">
            <div class="row clearfix">
                <div class="payoff">
                    <h2 class="h2">IHE Delft Institute for Water Education is the largest international <br>graduate water education facility in the world. </h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row clearfix">
                <h2 class="h1">Our impact</h2>
                <div class="cases clearfix">


                    <div class="col-1-2">
                        <a class="image-overlay" href="@Url.Action("bantinchitiet", "home")">
                            <div class="case">

                                <div class="text">
                                    <div class="clearfix">
                                        <div class="category">
                                            Brazil
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="subject">
                                            Turning up the voice of youth
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="content clearfix">
                                            <p>Tatiana dos Santos Silva is a co-founder of the non-governmental organization FA.VELA, that leads resilience and...</p>
                                            <div class="read-more">+ read more</div>
                                        </div>
                                    </div>
                                </div>

                                <img src="https://www.un-ihe.org/sites/default/files/styles/unesco-412-392/public/closingceremony_4_resized2.jpeg?itok=KDjN8EqN" alt="">
                                <div class="mask overlay-text">

                                </div>
                            </div>
                        </a>
                    </div>




                    <div class="col-1-2">
                        <a class="image-overlay" href="/stories/many-hands-make-light-work-improving-transboundary-water-management-tekezze-atbara-sub-basin">
                            <div class="case">

                                <div class="text">
                                    <div class="clearfix">
                                        <div class="category">
                                            Sudan and Ethiopia
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="subject">
                                            Many hands make light work: improving transboundary water management in the Tekezze-Atbara sub-basin
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="content clearfix">
                                            <p>The Tekezze-Atbara tributary of the Nile is perhaps lesser known than the more famous Blue Nile and White Nile. Yet,...</p>
                                            <div class="read-more">+ read more</div>
                                        </div>
                                    </div>
                                </div>

                                <img src="https://www.un-ihe.org/sites/default/files/styles/unesco-412-392/public/dsc_0801_1.jpg?itok=1Hmhl5LY" alt="">
                                <div class="mask overlay-text">

                                </div>
                            </div>
                        </a>
                    </div>




                </div>
                <div class="seventy--percent">
                    <div class="filtered--html">
                        <p>IHE Delft Institute for Water Education aims to create impact on the ground by developing problem oriented researchers and knowledge.</p>
                    </div>
                </div>
                <div class="">
                    <div class="buttons clearfix">
                        <a href="/research" class="btn">Research activities </a>
                        <a href="/capacity-development" class="btn">Capacity development activities </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="section-three section relative clearfix">
    <div class="container">

        <div class="row clearfix">
            <h2 class="h1">News and Events</h2>
            <!-- Highlight item -->

            <div class="col-2-2">
                <div class="clearfix news-events relative">
                    <div class="image-container">
                        <a href="#">
                            <img src="~/Assets/IHE/image/news.jpg" />
                        </a>
                    </div>

                    <div class="text-container">

                        <div class="text">
                            <a href="/world-water-week-2018">
                                <div class="clearfix">
                                    <!-- show label only when filled in by the CMS -->
                                    <div class="category">HIGHLIGHTED</div>
                                </div>
                                <div class="clearfix">
                                    <div class="subject">
                                        World Water Week 2018                      <span>26 Aug - 31 Aug 2018</span>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="content clearfix">
                                        <p>World Water Week is the annual focal point for the globe’s water issues. It is organized by SIWI. In 2018, World Water Week will address the theme ... </p>
                                        <div class="read-more">+ read more</div>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>

                </div>
            </div>



            <!-- News/event items -->
            <div class=" clearfix">
                <div class="grid-items">
                    <div class="clearfix">
                        <div class="col-1-3">
                            <a href="/online-seminar-%E2%80%98chasing-mosquitos-urban-south-aedes-aegypti-water-and-households%E2%80%99">
                                <span class="meta">
                                    Event,
                                    04 Sep 2018
                                </span>
                                <p>Online Seminar: ‘Chasing the mosquitos in the Urban South, Aedes aegypti, water, and households’</p>
                                <span class="read-more">+ read more</span>
                            </a>
                        </div>
                        <div class="col-1-3">
                            <a href="/strengthening-capacity-climate-change-mitigation-and-adaptation-local-level">
                                <span class="meta">
                                    Event,
                                    30 Aug 2018
                                </span>
                                <p>Strengthening capacity for climate change mitigation and adaptation on a local level</p>
                                <span class="read-more">+ read more</span>
                            </a>
                        </div>
                        <div class="col-1-3">
                            <a href="/news/launch-global-alliance-freshwater-life">
                                <span class="meta">
                                    News,
                                    26 Aug 2018
                                </span>
                                <p>Launch of the global alliance for freshwater life</p>
                                <span class="read-more">+ read more</span>
                            </a>
                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="col-1-3">
                            <a href="/news/catastrophic-floods-can-trigger-human-resettlement-away-rivers">
                                <span class="meta">
                                    News,
                                    24 Aug 2018
                                </span>
                                <p>Catastrophic floods can trigger human resettlement away from rivers</p>
                                <span class="read-more">+ read more</span>
                            </a>
                        </div>
                        <div class="col-1-3">
                            <a href="/news/prof-damir-brdjanovic-selected-iwa-publishing-award">
                                <span class="meta">
                                    News,
                                    23 Aug 2018
                                </span>
                                <p>Prof. Damir Brdjanovic selected for IWA Publishing Award</p>
                                <span class="read-more">+ read more</span>
                            </a>
                        </div>
                        <div class="col-1-3">
                            <a href="/news/internship-ihe-delft%C2%B4s-global-partnership-programme">
                                <span class="meta">
                                    News,
                                    13 Aug 2018
                                </span>
                                <p>Internship for IHE Delft´s global partnership programme </p>
                                <span class="read-more">+ read more</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="">
                <div class="buttons clearfix">
                    <a href="/news" class="btn white inverted">See all news</a>
                    <a href="/events" class="btn white inverted">See all events</a>
                </div>
            </div>

        </div>

    </div>

    <div class="background-image">
        <div class="full-image" style="background-image: url(Assets/IHE/image/graphics.jpg)";
"></div>
    </div>
</div>
