
@{
    ViewBag.Title = "NghienCuu";
}
<article id="page-content" class="new--layout" >
    <header>
        <div class="content-header-background clearfix paragraph--wrapper">
            <div class="paragraph-item color--switch--possible">
                <header>

                    <h1>Research</h1>

                    <div class="leader-block-container">
                        <div class="leader-block full-width" style="min-height: 72px;">
                            <p>The Institute's demand-driven research activities focus on and contribute to the knowledge base concerning water &amp; development.</p>
                        </div>
                        <div class="fact-list-container" style="min-height: 72px;"></div>
                    </div>
                </header>
            </div>
        </div>

    </header>

    <div class="tabs"></div>


    <div class="paragraph--wrapper">
        <div class="paragraph-item">
            <section>
                <h2></h2>
                <div class="theme-container">
                    <div class="theme">
                        <img src="https://www.un-ihe.org/sites/default/files/styles/unesco_research_overview_image/public/shutterstock_33095632.jpg?itok=oRKJYzCv" width="540" height="406">          <div class="overlay" style="height: 60px;">
                            <div class="content-wrapper">
                                <h4>
                                    <a href="https://www.un-ihe.org/safe-drinking-water-sanitation">
                                        Safe Drinking Water &amp; Sanitation
                                    </a>
                                </h4>
                                <p>
                                    <a href="https://www.un-ihe.org/safe-drinking-water-sanitation">
                                    </a>
                                </p><p><a href="https://www.un-ihe.org/safe-drinking-water-sanitation">Increasing access to safe, sufficient and affordable water for people to meet basic needs for drinking, sanitation and hygiene, to safeguard health and well-being, and to fulfill basic human rights.</a></p><a href="https://www.un-ihe.org/safe-drinking-water-sanitation">
                                </a>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="theme">
                        <img src="https://www.un-ihe.org/sites/default/files/styles/unesco_research_overview_image/public/shutterstock_1127131829.jpg?itok=NDjmmFj-" width="540" height="406">          <div class="overlay" style="height: 84px;">
                            <div class="content-wrapper">
                                <h4>
                                    <a href="https://www.un-ihe.org/water-related-hazards-climate-change-0">
                                        Water-related Hazards &amp; Climate Change
                                    </a>
                                </h4>
                                <p>
                                    <a href="https://www.un-ihe.org/water-related-hazards-climate-change-0">
                                    </a>
                                </p><p><a href="https://www.un-ihe.org/water-related-hazards-climate-change-0">Water-related hazards like floods, droughts, pollution and related issues, are increasing in frequency and intensity around the globe due to population growth and effects of climate change.</a></p><a href="https://www.un-ihe.org/water-related-hazards-climate-change-0">
                                </a>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="theme">
                        <img src="https://www.un-ihe.org/sites/default/files/styles/unesco_research_overview_image/public/shutterstock_212723674.jpg?itok=Er4ETffF" width="540" height="406">          <div class="overlay" style="height: 84px;">
                            <div class="content-wrapper">
                                <h4>
                                    <a href="https://www.un-ihe.org/water-ecosystems-quality">
                                        Water &amp; Ecosystems Quality
                                    </a>
                                </h4>
                                <p>
                                    <a href="https://www.un-ihe.org/water-ecosystems-quality">
                                    </a>
                                </p><p><a href="https://www.un-ihe.org/water-ecosystems-quality">Aquatic ecosystems as service providers for environmental and human well-being, development, and water integrity.</a></p><a href="https://www.un-ihe.org/water-ecosystems-quality">
                                </a>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="theme">
                        <img src="https://www.un-ihe.org/sites/default/files/styles/unesco_research_overview_image/public/shutterstock_214223656.jpg?itok=ThghUO_Q" width="540" height="406">          <div class="overlay" style="height: 84px;">
                            <div class="content-wrapper">
                                <h4>
                                    <a href="https://www.un-ihe.org/water-management-governance-0">
                                        Water Management &amp; Governance
                                    </a>
                                </h4>
                                <p>
                                    <a href="https://www.un-ihe.org/water-management-governance-0">
                                    </a>
                                </p><p><a href="https://www.un-ihe.org/water-management-governance-0">Research is centred on the conviction that the social, biophysical and technological processes of water systems are intrinsically linked.</a></p><a href="https://www.un-ihe.org/water-management-governance-0">
                                </a>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="theme">
                        <img src="https://www.un-ihe.org/sites/default/files/styles/unesco_research_overview_image/public/shutterstock_73887487.jpg?itok=dI_gAwVK" width="540" height="406">          <div class="overlay" style="height: 84px;">
                            <div class="content-wrapper">
                                <h4>
                                    <a href="https://www.un-ihe.org/research-themes/water-food-energy-security">
                                        Water, Food &amp; Energy Security
                                    </a>
                                </h4>
                                <p>
                                    <a href="https://www.un-ihe.org/research-themes/water-food-energy-security">
                                    </a>
                                </p><p><a href="https://www.un-ihe.org/research-themes/water-food-energy-security">Better management of water for food and energy security in a sustainable and equitable way.</a></p><a href="https://www.un-ihe.org/research-themes/water-food-energy-security">
                                </a>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="theme">
                        <img src="https://www.un-ihe.org/sites/default/files/styles/unesco_research_overview_image/public/research_theme_0.png?itok=MXJUMdkD" width="540" height="406">          <div class="overlay" style="height: 84px;">
                            <div class="content-wrapper">
                                <h4>
                                    <a href="https://www.un-ihe.org/research-themes/information-knowledge-systems">
                                        Information &amp; Knowledge Systems
                                    </a>
                                </h4>
                                <p>
                                    <a href="https://www.un-ihe.org/research-themes/information-knowledge-systems">
                                    </a>
                                </p><p><a href="https://www.un-ihe.org/research-themes/information-knowledge-systems">Managing the information cycle of data acquisition, modelling, forecasting, optimisation and knowledge management supporting decisions related to water.</a></p><a href="https://www.un-ihe.org/research-themes/information-knowledge-systems">
                                </a>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="paragraph--wrapper">
        <div class="paragraph-item">
            <h2>            Academic departments    </h2>
            <p><strong>Environmental Engineering &amp; Water Technology</strong></p>
            <p><span style="font-family: Arial, sans-serif; font-size: 15.008px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400;">The EEWT Department contributes to the provision of safe drinking water, adequate sanitation and resource recovery, focusing on developing countries and countries in transition.</span></p>
            <p><a href="/node/2638"><span style="font-family: Arial, sans-serif; font-size: 15.008px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400;">Read more</span></a></p>
            <p><strong>Integrated Water Systems &amp; Governance</strong></p>
            <p><span style="font-family: Arial, sans-serif; font-size: 15.008px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400;">The IWSG Department contributes to understanding integrated water systems and how they contribute to social and environmental justice, in particular in, but not limited to, the Global South.</span></p>
            <p><a href="/node/2641"><span style="font-family: Arial, sans-serif; font-size: 15.008px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400;">Read more</span></a></p>
            <p><strong>Water Science &amp; Engineering</strong></p>
            <p><span style="font-family: Arial, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400;">The WSE Department deals with the fundamentals of understanding and modelling the primary processes related to water and the environment.</span></p>
            <p><a href="/node/2640"><span style="font-family: Arial, sans-serif; font-size: 15.008px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400;">Read more</span></a></p>
        </div>
    </div>          <div class="paragraph--wrapper">
        <div class="paragraph-item">
            <h2>            Innovations for Water and Development    </h2>

            <div class="download clearfix white--container">
                <div class="image--wrapper--download">
                    <img src="https://www.un-ihe.org/sites/default/files/styles/unesco_download_paragraph/public/ihe_delft_innovations_for_water_and_development_2017-i.png?itok=QjWBZCS7" width="236" height="335">
                </div>


                <div class="content--wrapper">
                    <div class="seventy--percent">
                        <div class="filtered--html">
                            <p>
                                Realising that present and future water-related problems require out-of-the-box thinking and unusual business approaches, IHE Delft supports innovation in all our core activities of education, research and capacity development.

                                To celebrate the 60th anniversary of IHE Delft, we have selected 60 examples of innovation to feature in this second edition of the Innovations booklet.
                            </p>
                        </div>

                        <div class="buttons clearfix">
                            <a href="https://www.un-ihe.org/sites/default/files/ihe_delft_innovations_for_water_and_development_2017-i_2.pdf" class="btn">            Download    </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

