
@{
    ViewBag.Title = "ThanhVien";
    Layout = "~/Views/Shared/_Layoutpage.cshtml";
}
<article id="page-content" class="stories" style="padding-top: 60px;">
    <!-- start header -->
    <header>
        <div class="top">
            <a class="back" href="@Url.Action("index", "home")">Back to Home</a>
        </div>
        <h1>People</h1>
        <div class="leader-block-container">
            <div class="leader-block">
                <p>IHE Delft's staff members are committed to bring water education, research and capacity development to a higher level. Together with its motivated PhD fellows, Alumni, Students and Partners, IHE Delft forms a strong knowledge network of water sector experts.</p>
            </div>
        </div>
    </header>

    <section class="full-width">
        <div class="people-container">
            <div class="wrapper">
                <div class="person-container">
                    <h2 class="people">Staff in focus</h2>
                    <div class="person">
                        <a href="@Url.Action("chitietthanhvien", "home")">
                            <img src="https://www.un-ihe.org/sites/default/files/styles/unesco_profile_focus/public/efa_fantini_1.jpg?itok=0X0i52c7">
                        </a>
                        <h4><a href="@Url.Action("chitietthanhvien", "home")">Emanuele Fantini</a></h4>
                        <p class="extra">Lecturer</p>            <p>
                            Emanuele joined IHE Delft and the Water Governance Chair group in September 2015 as a Marie Curie Cofund Postdoc Fellow. He holds a PhD in political science from the University of Turin (Italy) and he used to live and work in Ethiopia. His background gave him an interest in using visual research methods to study water governance, political power and development in Ethiopia. Emanuele is currently working on a project on media, science, water conflict and cooperation in the Nile basin. Currently Emanuele coordinates the research of the Master’s in Water management and governance and the summer course on visual methods for water communication.

                            Emanuele likes the lively, international, multi-cultural and multi-disciplinary team and environment at IHE Delft. ‘’Since I work on Nile basin issues, for me It is a great opportunity to interact with students coming from different Nile countries and to discuss with them water conflicts and cooperation, because they may become the water diplomats of the future.’’

                            “In 5 years I hope that I will still be working in a stimulating environment like our water governance group, where every day I learn from my colleagues and our students. And I hope that IHE Delft will be seen as the place to be to work for social justice and critical thinking on water issues. We badly need new ideas and the spirit to address the challenges ahead of us, and as Albert Einstein said “If at first, the idea is not absurd, then there is no hope for it.”
                        </p>
                        <a class="singular" href="@Url.Action("chitietthanhvien", "home")"><span>Emanuele Fantini</span></a>
                    </div>
                    <div class="person">
                        <a href="mita-kusumaningrum">
                            <img src="https://www.un-ihe.org/sites/default/files/styles/unesco_profile_focus/public/smk_kusumaningrum_1.jpg?itok=C7pN_CYj">
                        </a>
                        <h4><a href="mita-kusumaningrum">Mita Kusumaningrum</a></h4>
                        <p class="extra">Project Support Officer</p>            <p>
                            Mita is a project support officer, she joined the Institute in 2016 and is working within the Liaison Office. Mita provides assistance and advice to academic staff in project acquisition, formulation and implementation. She works on the project DUPC2 and is in charge of Tailor-made Training and Advice (TMAT), where she receives around 90 requests per year, of which 13 became live projects in 2017 and about 15 requests received an advice to proceed with a Master, PhD or short course. Mita likes the multicultural and open-minded environment at the Institute. She explains that every day is a learning path: she learns more about improving processes and being innovative. For the future, she hope to understand the business model of IHE Delft, to contribute better. She would also like to get more products included under the Tailor Made Training and Advice programme. For example TMAT that have a long term cooperation with other international or national institutions (private/ public) to conduct a regular tailor-made training abroad and/or in Delft.

                        </p>
                        <a class="singular" href="mita-kusumaningrum"><span>Mita Kusumaningrum</span></a>
                    </div>
                </div>
                <div class="overview-container">
                    <h2>Staff</h2>
                    <ul class="people-list">
                        <li><a href="/margreet-zwarteveen"><img alt="" src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile-network/public/mwz_zwarteveen_2.png?itok=C_RAs7QT"></a></li>
                        <li><a href="/sjef-kwant"><img alt="" src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile-network/public/kwant_2web.png?itok=zjmofZFZ"></a></li>
                        <li><a href="/lyzette-robbemont"><img alt="" src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile-network/public/robbemont_web2.png?itok=Qff3L30l"></a></li>
                        <li><a href="/gordon-de-wit"><img alt="" src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile-network/public/gwi_anonimous_m_web2.png?itok=TsdcVwF1"></a></li>
                        <li><a href="/lauren-zielinski"><img alt="" src="/sites/default/files/anonimous.png"></a></li>
                        <li><a href="/claire-furlong"><img alt="" src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile-network/public/1050756_furlong_2web.jpg?itok=F7njTZix"></a></li>
                        <li><a href="/ewout-heeringa"><img alt="" src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile-network/public/ehe_heeringa_2web.jpg?itok=MXCAYwVy"></a></li>
                        <li><a href="/gaetano-casale"><img alt="" src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile-network/public/casale_2web.png?itok=N3hHQA-m"></a></li>
                        <li><a href="/janez-susnik"><img alt="" src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile-network/public/jsu_susnik_2.png?itok=OEVRV-br"></a></li>
                        <li><a href="/tatiana-acevedo-guerrero"><img alt="" src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile-network/public/tag_guerrero_2web.jpg?itok=oZmbzWll"></a></li>
                        <li><a href="/willem-van-nievelt"><img alt="" src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile-network/public/nievelt_web2.png?itok=nbnyeM_1"></a></li>
                        <li><a href="/thom-bogaard"><img alt="" src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile-network/public/bogaard_2web.png?itok=-oxiYoRg"></a></li>
                        <li><a href="/judith-van-eeden"><img alt="" src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile-network/public/1056839_vaneeden_2web.jpg?itok=MocRQ09C"></a></li>
                        <li><a href="/gonzalo-espinoza-davalos"><img alt="" src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile-network/public/ged_davalos_2web.jpg?itok=TmQHjgKe"></a></li>
                        <li><a href="/jochen-wenninger"><img alt="" src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile-network/public/jwe_wenninger_2_2web.jpg?itok=4Vj4TBr1"></a></li>
                        <li class="additional"><a href="/staff-directory"><span class="number">231</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="wrapper">
                <div class="person-container">
                    <h2 class="people">PhD Fellows in focus</h2>
                    <div class="person">
                        <a href="mohammad-gharesifard">
                            <img src="https://www.un-ihe.org/sites/default/files/styles/unesco_profile_focus/public/41788_gharesifarc_1.jpg?itok=bCVs4cEd">
                        </a>
                        <h4><a href="mohammad-gharesifard">Mohammad Gharesifard</a></h4>
                        <p class="extra">PhD fellow</p>
                        <p>Mohammad Gharesifard is a civil engineer from Iran. He has seven years of work experience at consultancy companies working on water and waste water projects. In 2013, he enrolled in Water Resources Management MSc programme at IHE Delft and graduated with distinction in April 2015. Mohammad is interested in social, institutional and political aspects of water innovations, public participation processes, and applications of citizen science in water management. For example: how technology can help water management in general and how citizens can contribute. His research is connected with the Groundtruth2.0 project focusing on different dimensions and dynamics of ICT-based citizen participation in water and environmental management. Mohammad is studying these participatory processes and their outputs in two citizen observatories in the Netherlands and Kenya. The citizen observatory in the Netherlands focuses on management of pluvial floods for climate adaptive urban water management, while the citizen observatory in Kenya focuses on balancing biodiversity conservation and sustainable livelihood management in the Maasai Mara region. Mohammad likes the diversity of people at IHE Delft. He also enjoys the fact that most people are mid-career professionals so they have the practical knowledge of the field. His future plan is to conduct more research in citizen science and work on projects abroad and in his country.</p>
                        <a class="singular" href="mohammad-gharesifard"><span>Mohammad Gharesifard</span></a>
                    </div>
                    <div class="person">
                        <a href="alexander-kaune">
                            <img src="https://www.un-ihe.org/sites/default/files/styles/unesco_profile_focus/public/28970_kaune_1.jpg?itok=Mtz9ETeT">
                        </a>
                        <h4><a href="alexander-kaune">Alexander Kaune Schmidt</a></h4>
                        <p class="extra">PhD fellow</p>
                        <p>
                            Alex was born in Germany, raised in Costa Rica, and lives in the Netherlands - a global citizen inspired by local challenges. Alex is an Agricultural Engineer with an MSc degree in Hydraulic Engineering with 10 years of work experience in water related projects in the commercial, government and research sector in Latin-America, Europe and Australia. For the past four years he has been working on a major EU funded research project for global climate and water resources assessment (EartH2Observe project). Within this project, he is finishing his PhD research at Wageningen University and IHE Delft on valuing the use of hydrological data and information for irrigated agriculture.

                            Alex evaluated large irrigation systems in Colombia, Costa Rica and Australia. One of the main problems is that farmers are either over- or underestimating the irrigation area due to uncertain water supply information. This leads to major agricultural production losses and economic impacts. His research showed that the use of an ensemble of global hydrological models in Australia can be beneficial to support irrigation area planning. In Colombia, the use of global precipitation datasets can reduce the cost of both choosing the irrigation area and agricultural production losses. Alex sees himself contributing particularly to the interface between the development and application of scientific data and information and its use in supporting practical decisions.
                        </p>
                        <a class="singular" href="alexander-kaune"><span>Alexander Kaune</span></a>
                    </div>
                </div>
                <div class="overview-container">
                    <h2>PHD Fellows</h2>
                    <ul class="people-list">
                        <li><a href="/chunqing-wang"><img alt="" src="/sites/default/files/anonimous.png"></a></li>
                        <li><a href="/benjamin-botwe"><img alt="" src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile-network/public/benjamin-osei-botwe-web2.png?itok=BtaqTxDB"></a></li>
                        <li><a href="/ramita-khanongnuch"><img alt="" src="/sites/default/files/anonimous.png"></a></li>
                        <li><a href="/muhammad-nasir-mangal"><img alt="" src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile-network/public/45812_mangal_2web.jpg?itok=G83RqXXM"></a></li>
                        <li><a href="/johan-reyns-0"><img alt="" src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile-network/public/jre_reyns_2web.png?itok=Y3WPrE_a"></a></li>
                        <li><a href="/maria-reyes-perez"><img alt="" src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile-network/public/38215_reyesperez_web2.png?itok=fhp1G41x"></a></li>
                        <li><a href="/polpat-nilubon"><img alt="" src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile-network/public/43992_nilubon_2web.jpg?itok=N2tn1u6W"></a></li>
                        <li><a href="/abeer-almomani"><img alt="" src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile-network/public/54975_almomani_2web.jpg?itok=Qr_iOfMP"></a></li>
                        <li><a href="/madapura-eregowda"><img alt="" src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile-network/public/1005818_eregowda_2web.jpg?itok=4wT46jP5"></a></li>
                        <li><a href="/ran-tao"><img alt="" src="/sites/default/files/anonimous.png"></a></li>
                        <li><a href="/edwin-hes-0"><img alt="" src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile-network/public/ehe_hes_2web.png?itok=v8kIBY_0"></a></li>
                        <li><a href="/mohammad-gharesifard"><img alt="" src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile-network/public/41788_gharesifarc_web2.png?itok=MkUtq_e9"></a></li>
                        <li><a href="/rinnert-schurer"><img alt="" src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile-network/public/42981_schurer_2web.png?itok=mBZ0tGoc"></a></li>
                        <li><a href="/nguyen-xuan-lan"><img alt="" src="/sites/default/files/anonimous.png"></a></li>
                        <li><a href="/vo-quoc-thanh"><img alt="" src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile-network/public/37233_vo_web2.png?itok=5A5MEN8H"></a></li>
                        <li class="additional"><a href="/phd-fellows"><span class="number">117</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="person-container">

                <div class="person">
                    <h2 class="people">Alumni</h2>
                    <p>IHE Delft has provided post-graduate education to more than 15,000 water professionals from over 160 countries. They form the Institute’s alumni community, the largest global network of water professionals in the world. They are acquiring key positions, supporting the implementation of the global water agenda and improving the quality of life of their communities every day.</p>
                    <a class="singular" href="alumni">
                        <span>Read more about alumni</span>
                    </a>
                </div>
                <div class="person">
                    <h2 class="people">Students</h2>
                    <p>Our students do not only study and share water-related knowledge, but also get to broaden their perspective on the wonders of each others' cultures, religions and beliefs. </p>
                    <a class="singular" href="students">
                        <span>Read more about students</span>
                    </a>
                </div>
            </div>

        </div>
    </section>
</article>

