
@{
	ViewBag.Title = "TinTuc";
	Layout = "~/Views/Shared/_Layoutpage.cshtml";
}
<div id="content-header-background" style="height: 447.547px;"></div>

<article id="page-content">
	<!-- start header -->
	<header>
		<div class="top">
			<a class="back" href="/institute">Back to Institute</a>
		</div>
		<h1>News</h1>
		<div class="leader-block-container">
			<div class="leader-block">
				<p>Stay informed about important IHE Delft activities and read interesting news from our staff, students and alumni. </p>
			</div>
			<div class="fact-list-container"></div>
		</div>
	</header><!-- end header -->

	<div class="tabs"></div><!-- start section fullwidth -->
	<section class="full-width"></section>
	<!-- end section fullwidth -->
	<!-- start section -->
	<section>
		<h2>Latest headlines <a href="/news/feed" class="rss-icon"><img src="/profiles/unesco/themes/unesco/presentation/images/icon_rss.png" /></a></h2>
		<ul class="items news">
			<li class="item">
				<a class="blocklink" href="/news/new-strategy-2018-2023"></a>
				<div class="summary">
					<span class="date"><div>14 Sep 2018</div></span>
					<h3>New strategy 2018-2023</h3>
					<p><div>The Rectorate is pleased to announce that the new Strategy 2018-2023 Synergies and Partnerships to...</div></p>
					<a class="singular" href="/news/new-strategy-2018-2023"><span>read more</span></a>
				</div></a>
			</li>
			<li class="item">
				<a class="blocklink" href="/news/new-commission-adaptation-will-focus-political-visibility-climate-adaptation"></a>
				<div class="summary">
					<span class="date"><div>13 Sep 2018</div></span>
					<h3>New Commission on Adaptation will focus on political visibility of climate adaptation</h3>
					<p><div>This week, the Government of the Netherlands and the Global Center on Adaptation unveiled plans for...</div></p>
					<a class="singular" href="/news/new-commission-adaptation-will-focus-political-visibility-climate-adaptation"><span>read more</span></a>
				</div></a>
			</li>
			<li class="item">
				<a class="blocklink" href="/news/looking-back-stockholm-world-water-week-2018"></a>
				<div class="summary">
					<span class="date"><div>11 Sep 2018</div></span>
					<h3>Looking back on Stockholm World Water Week 2018</h3>
					<p><div>IHE Delft looks back on a successful World Water Week, the annual focal point for the world&#039;s...</div></p>
					<a class="singular" href="/news/looking-back-stockholm-world-water-week-2018"><span>read more</span></a>
				</div></a>
			</li>
			<li class="item">
				<a class="blocklink" href="/news/student-competition-climate-change-and-water-scarcity-middle-east"></a>
				<div class="summary">
					<span class="date"><div>05 Sep 2018</div></span>
					<h3>Student competition: Climate Change and Water Scarcity in the Middle East</h3>
					<p><div>With support from DUPC2, the Global Partnership Programme for Water and Development, a student...</div></p>
					<a class="singular" href="/news/student-competition-climate-change-and-water-scarcity-middle-east"><span>read more</span></a>
				</div></a>
			</li>
			<li class="item">
				<a class="blocklink" href="/news/alumna-tatiana-dos-santos-silva-wins-ihe-delft-alumni-award-2018"></a>
				<div class="summary">
					<span class="date"><div>05 Sep 2018</div></span>
					<h3>Alumna Tatiana dos Santos Silva wins the IHE Delft Alumni Award 2018</h3>
					<p><div>The Rectorate is pleased to announce that Ms. Tatiana dos Santos Silva from Brazil is the winner of...</div></p>
					<a class="singular" href="/news/alumna-tatiana-dos-santos-silva-wins-ihe-delft-alumni-award-2018"><span>read more</span></a>
				</div></a>
			</li>
		</ul>

		<h2 class="element-invisible">Pages</h2><ul class="pager">
			<li class="pager-current first">1</li>
			<li class="pager-item"><a title="Go to page 2" href="/news?page=1">2</a></li>
			<li class="pager-item"><a title="Go to page 3" href="/news?page=2">3</a></li>
			<li class="pager-item"><a title="Go to page 4" href="/news?page=3">4</a></li>
			<li class="pager-item"><a title="Go to page 5" href="/news?page=4">5</a></li>
			<li class="pager-item"><a title="Go to page 6" href="/news?page=5">6</a></li>
			<li class="pager-item"><a title="Go to page 7" href="/news?page=6">7</a></li>
			<li class="pager-item"><a title="Go to page 8" href="/news?page=7">8</a></li>
			<li class="pager-item"><a title="Go to page 9" href="/news?page=8">9</a></li>
			<li class="pager-ellipsis">…</li>
			<li class="pager-next"><a title="Go to next page" href="/news?page=1">next ›</a></li>
			<li class="pager-last last"><a title="Go to last page" href="/news?page=146">last »</a></li>
		</ul>
	</section><!-- start aside -->
	<aside class="network">
		<section class="contact-container vcard ">
			<header>
				<span class="icon" aria-hidden="true" data-icon="&#9993;"></span>
				<h1>
					<span class="type">Contact</span><br><span class="nodeblocked">Emma Meurs</span>
				</h1>
			</header>
			<div class="person has-image">
				<img src="https://www.un-ihe.org/sites/default/files/styles/unesco-profile-network/public/meurs_2web.png?itok=HZ0yniQ3" height="88" width="88" />        <div>
					<h2><a href="/emma-meurs">Emma Meurs</a></h2>          <span>Corporate Communications Advisor        </span>
				</div>
			</div>

			<div class="contact">
				<div class="contact-elements">
					<span class="icon" aria-hidden="true" data-icon="&#128222;"></span>
					<span class="visually-hidden">Phone</span>
					<span class="tel"><a href="tel:+31152151870">+31152151870</a></span>
				</div><br />
				<div class="contact-elements">
					<span class="icon" aria-hidden="true" data-icon="&#9993;"></span>
					<span class="visually-hidden">Email</span>
					<span class="email">
						<span id="4468560a8c58dde0d33d62b9c035970ea4545bf2"></span>
						<script type="text/javascript">
 <!--
  document.getElementById('4468560a8c58dde0d33d62b9c035970ea4545bf2').innerHTML = '<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#101;&#46;&#109;&#101;&#117;&#114;&#115;&#64;&#117;&#110;&#45;&#105;&#104;&#101;&#46;&#111;&#114;&#103;">&#101;&#46;&#109;&#101;&#117;&#114;&#115;&#64;&#117;&#110;&#45;&#105;&#104;&#101;&#46;&#111;&#114;&#103;</a>';
// --> </script>
					</span>
				</div><br />
				<div class="contact-elements">
					<span class="visually-hidden">Linkedin</span>
					<span class="linkedin">
						<a href="http://www.linkedin.com/in/emmameurs" rel="me">View my profile on Linkedin</a>
					</span>
				</div><br />


			</div>
		</section>
		<section class="twitter">
			<header>
				<span class="icon" aria-hidden="true" data-icon="&#62217;"></span>
				<h1>
					<span class="type">Tweets</span><br>
					<span>IHE Delft</span>
				</h1>
			</header>
			<ul>
				<li>
					<span class="from"><a href="http://www.twitter.com/ihedelft/" target="_blank" rel="nofollow">IHE Delft</a></span>
					<span class="field-content">
						RT <a target="_blank" rel="nofollow" class="twitter-timeline-link" href="http://twitter.com/Ricoz" class="twitter-atreply"></a>: Take a minute and pose with bros from Zambia 🇿🇲
						<a target="_blank" rel="nofollow" class="twitter-timeline-link" href="https://twitter.com//search?q=%23IHEdelft" class="twitter-hashtag">#IHEdelft</a> <a href="https://t.co/i2Xv1vyRWk">https://t.co/i2Xv1vyRWk</a>
					</span>
					<span class="field-content extra"><em class="placeholder">25 min 14 sec</em> ago</span>
				</li>
				<li>
					<span class="from"><a href="http://www.twitter.com/ihedelft/" target="_blank" rel="nofollow">IHE Delft</a></span>
					<span class="field-content">Around 40% of the world’s population lives within 100 km of the coastline. The pressure on coastal freshwater resou… <a href="https://t.co/qBsFxhMF0T">https://t.co/qBsFxhMF0T</a></span>
					<span class="field-content extra"><em class="placeholder">18 hours 21 min</em> ago</span>
				</li>
				<li>
					<span class="from"><a href="http://www.twitter.com/ihedelft/" target="_blank" rel="nofollow">IHE Delft</a></span>
					<span class="field-content">Watch the interview with PhD fellow Natalia Tejada. Her research is part of the Sustainable Freshwater Supply for U… <a href="https://t.co/jSskA38Jzx">https://t.co/jSskA38Jzx</a></span>
					<span class="field-content extra"><em class="placeholder">2 days 18 hours</em> ago</span>
				</li>
			</ul>
		</section>
	</aside>
	<!-- end aside -->
	<!-- start section fullwidth -->
	<!-- end section fullwidth -->
</article>
<!-- end article -->